{% extends "quotes/base.html" %} {% block content %}
<h3>SignUp</h3>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Username {{form.username}}</label>
    {% if form.username.errors %}
      <div class="alert alert-danger">
        {{ form.username.errors }}
      </div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label class="form-label">Email address {{form.email}}</label>
    {% if form.email.errors %}
      <div class="alert alert-danger">
        {{ form.email.errors }}
      </div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label class="form-label">Password {{form.password1}}</label>
    {% if form.password1.errors %}
      <div class="alert alert-danger">
        {{ form.password1.errors }}
      </div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label class="form-label">Repeat password {{form.password2}}</label>
    {% if form.password2.errors %}
      <div class="alert alert-danger">
        {{ form.password2.errors }}
      </div>
    {% endif %}
  </div>
  <div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}
